@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@300;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.0.10/css/all.css');

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #dbdde1;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

h1 {
  color: rgb(30, 30, 30);
}

h2 {
  color: #8A39E1;
}


.fab {
  font-size: 32px;
  color: #8A39E1;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.img-circle {
  border-radius: 50%;
}

.card-white {
  width: 600px;
  margin: 48px auto;
  text-align: center;
  background: white;                         /* White background */
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);    /* Light shadow */
}

.btn-purple {
  padding: 8px 16px;
  border-radius: 24px;
  background-color: #8A39E1;
  color: #FFFFFF;
  transition: background-color 700ms linear;
}

.btn-purple:hover {
  background-color: #000000;
}

.inline {
  display: flex;
}
